/* Global */

html {
    font-size: 16px;
}

body {

    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

div {
    box-sizing: border-box;
}

button {
    background-color: white;
    border: 1px solid grey;
    cursor: pointer;
}

button:active {
    background-color: lightgrey;
}

/* Root */

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
}


/* Building */

.building {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: auto;
    position: relative;

}


/* Floor */
.floor {
    display: flex;
    width: 100%;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    height: 100px;

}

.floor:nth-last-child(2) {
    border-bottom: 1px solid #eee;
}


.button-container {
    display: flex;
    padding: .5rem;
    gap: .25rem;
    align-items: center;
}

.button-container>button {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    max-height: 2.5rem;
    min-height: 2.3rem;
    border-color: #eee;

}

.up-button:hover,
.down-button:hover {
    border-color: lightgray;
}

.up-button>img,
.down-button>img {
    height: 1.5rem;
    width: 1.5rem;
    aspect-ratio: 1 / 1;
}



/* Lift */

.liftCanal {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    gap: 1rem;
    flex-basis: auto;
    padding: 0 0.5rem;
}

.lift {
    display: flex;
    width: 70px;
    height: 90px;
    background-color: #222;
    border: 3px black solid;
    overflow: hidden;
}

.lift::before {
    content: "";
    background-color: lightgrey;
    border-right: 1px solid black;
    width: 50%;
    transition: transform 2.5s;

}

.lift::after {
    content: "";
    background-color: silver;
    border-left: 1px solid lightgray;
    width: 50%;
    transition: transform 2.5s;
}


.lift--open::before {
    transform: translateX(-99%)
}

.lift--open::after {
    transform: translateX(99%)
}



/* Form */
.back-button {
    background-color: transparent;
    border: none;
    outline: none;
    margin: .5rem auto auto .25rem;
    background-color: #222;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
}

.back-button:hover {
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px lightgray solid;
    padding: 2rem 3rem;
    padding-top: 0;
    max-width: 400px;
    background-color: white;
    border-radius: .5rem;
    /* align-items: center; */

}

form>h1 {
    text-align: center;

    margin: 1rem 0 2rem 0;
}


.floor-input--container,
.lift-input--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
}

label {

    white-space: nowrap;
    width: 50%;
    margin: auto 0;
    font-weight: 500;

}

input {
    width: 70%;
    height: 1.3rem;
    padding: .1rem .3rem;
    border-radius: .2rem;
    outline: none;
    border: 1px #222222 solid;
}

.submit {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem auto 0 auto;
    background-color: #222222;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: .2rem;
}


@media only screen and (max-width: 750px) {

    .floor-input--container,
    .lift-input--container {
        flex-direction: column;
    }

    label {
        margin-bottom: .25rem;
    }

    input {
        width: 100%;
    }

}

@media only screen and (max-width: 300px) {

    html {
        font-size: 10px;
    }

    label {
        white-space: break-spaces;
    }

    form button {
        font-size: 1rem;
    }

}